            <table class="table">
              <thead>
                <tr>
                  <th>Accumulator Register</th>
                  <th>X Register</th>
                  <th>Y Register</th>
                  <th>Status Register</th>
                  <th>Program Counter</th>
                  <th>Stack Pointer</th>
                </tr>
              </thead>
              <tbody>
                <tr class="nes-state">
                  <td class="nes-acc"></td>
                  <td class="nes-xreg"></td>
                  <td class="nes-yreg"></td>
                  <td class="nes-status"></td>
                  <td class="nes-pc"></td>
                  <td class="nes-sp"></td>
                </tr>
              </tbody>
            </table>
