              <nav class="level">
                <div class="level-item">
                  <a class="button">Load ROM</a>
                </div>
                <div class="level-item">
                  <a class="button">Play</a>
                </div>
                <div class="level-item">
                  <a class="button">Pause</a>
                </div>
                <div class="level-item">
                  <a class="button">Reset</a>
                </div>
                <div class="level-item">
                  <a class="button">Step</a>
                </div>
              </nav>
