@import "bulma";

.container {
  margin: 25px auto;
  padding: 25px;
}

.nes-window {
    background-color: $blue;
    min-width: 300px;
    .nes-screen {
        margin: auto;
    }
}

.nes-controls {
    max-height: 100px;
    background-color: $grey;
}

.nes-disassembly {
    min-height: 650px;
    width: 30%;
    max-width: 425px;
    background-color: $black;
  .disasm-table {
      background-color: $black;
      color: $green;
  }
}
