@import "bulma";

.container {
  margin: 1% auto;
  padding: 2%;
}

.nes-window {
    background-color: $blue;

    .nes-screen {
        margin: auto;
    }
}

.nes-controls {
    max-height: 10%;
    background-color: $grey;
}

.nes-disassembly {
    background-color: $black;

  .disasm-table {
      background-color: $black;
      color: $green;
      display: inline-block;
      overflow: auto;
      max-height: 600px;
  }
}
